body {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

h3, footer{
    background-color: rgb(72, 138, 192);
}
.site-title{
    color:rgb(15, 15, 104);
}


ul {
    list-style-type: square;
  }

  #my-image{
    box-shadow: 0px 0px 2px 1px black;
  }

  ul :nth-child(odd) {
      background-color: lightslategrey;
  }

  
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(72, 138, 192);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: rgb(72, 138, 192);
    color: white;
  }