
body {
    background-color: #aad4cf;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  header{
    padding: 100px;
    font-size: 25px;
    text-align: center;
    color: white;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1000px 350px;
    margin: 0;
  }

  #nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid #D8EAE9;
    margin: 0;
    padding: 10px 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: #aad4cf;
    color: white;
  } 

   .sitecontainer{
    max-width: 1000px;
    background-color: #D8EAE9;
  }
   
  img{
      width: 200px;
      float: left;
      padding:10px ;
      margin: 20 20;
  }

  .container{
    max-width: 600px;
    margin: 5 center;
    border: 2px solid black;
  }
  
  .box{
    width: 25%;
    height: 100px;
  }
  .textcontainer{
    max-width: 600px;
    padding:10px ;
    margin: 5 center;
  }
  
  .box{
    width: 25%;
    height: 100px;
  }
  
  