/* -------------------------
            CSS RESET 
---------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------
        CUSTOM STYLES  
------------------------------*/
/* ----------- 
    Mobile
--------------*/
html{
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}
    /* Navigation */
    .star-logo{
        background: #c78c06;
        width: auto;
        padding: 18px;
    }
    .nav-block, a{
        text-align: center;
        padding: 15px;
        background: #222;
    }
    .nav-block a:active{
        background-color: #c78c06;
    }
    .nav-block a:hover{
        background: #c78c06;
        color:black;
        padding-left: 225px;
        padding-right: 225px;
    }
    .menu-center{
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #c78c06;
        text-decoration: none;
    }
    .nav-grid .nav-block:nth-child(1){
        background-color: #c78c06;
        text-align: left;
    }
    
    .search-bar{
        width: 65%;
        padding: 10px;
        border-radius: 3px;
    }
    ::placeholder{
        font-size: 20px;
    }
    .im-magnifier{
        background: #222;
        color: #c78c06;
        padding: 7px;
    }
    .magnify-button{
        background: #222;        
    }    
    button.magnify-button{
        border: 2px solid rgb(199, 140, 6);
    }
    /* Banner image */
    .main-banner{
        width: 100%;
        vertical-align: top;
    }
    .banner-container{
        position: relative;
    }
    .banner{
        position: absolute;
        top: 10%;
        padding: 15px;
        max-width: 100%;
        height: 73%;
        background: rgba(0, 0, 0, 0.6);
    }
    h1{
        color: white;
        font-size: 3.2rem;
        line-height: 1.5;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
    }   
    .intro-text{
        color: white;
        font-size: 13px;
        line-height: 1.6;
        padding-bottom: 10px; 
    } 
    .connect-with-us{
        border: none;
        background: #c78c06;
        padding: .8rem;
        font-size: 1rem;
    }
    /* About us */
    .about-us{
        background: #ffe6ac;
        padding: 13px;
    }
    .common-area{
        width: 100%;
        padding-bottom: 1.5rem;
    }
    .about-us-text{
        font-size: 11px;
        line-height: 1.6;
        padding-bottom: 10px;
    }
    .h2-about{
        padding-bottom: 20px;
        padding-left: 2px;
    }
    /* Our services */
    .top-padding{
        padding-top: 3rem;
    }
    h2{
        font-size: 2.3rem;
        padding: 10px;
        font-weight: bold;
    }
    .our-services-1{
        background-color: #ffe6ac;
        border: 7px solid white;
    }
    .our-services-2{
        background-color: #ffe6ac;
        border: 7px solid white;
    }
    .button-2{
        color: white;
        background: #222;
        border: none;
        padding: 15px;
        font-size: 1.1rem;
        width: 40%;
    }
    .im-care-right{
        padding: 10px;
    }
    h3{
        font-size: 1.6rem;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: bold;
    }
    .our-team-h3{
        padding-bottom: 10px;
    }
    .container-box{
        padding: 10px;
    }
    .info{
        padding-bottom: 10px;
        line-height: 1.6;
        font-size: 11px;
    }
    .info-2{
        font-size: 10px;
        line-height: 1.6;
        padding-bottom: 30px;
    }
    .images{
        width: 100%;
    }
    /* Our Vision */
    .our-vision, img{
        width: 100%;
    }
    .vision-paragraph{
        padding-bottom: 15px;
        line-height: 1.6;
        font-size: 11px;
    }
    .vision-button{    
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 15px;
        font-size: 1rem;    
        border-color: #c78c06; 
    }
    .our-vision-container{
        position: relative;
    }
    .our-vision-text{
        display: block;
        position: absolute;
        top: 5%;
        left: 0%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 35px;
        color: white;
    }
    .vision-image{
        position: relative;
        max-height: 255px;
        object-fit: cover;
        padding-top: 15px;
    }
    /* Our Team */
    .h2-team{
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
    h4{
        font-weight: bold;
        font-size: .9rem;
    }
    .our-team-text{
        line-height: 1.6;
        font-size: 11px;
        padding-bottom: 10px;
    }
    .our-team-grid{
        background: #ffe6ac;
    }
    .bob-john{
        width: 100%;
    }
    .horizontal{
        border: none;
        height: 2px;
        background: #c78c06;
    }
    .word-padding{
        padding: 10px;
    }
    .white{
        border: 5px solid white;
    }
    /* Contact us */
    .contact-us{
        width: 85%;
        padding: 10px;
    }
    .contact-us-text{
        padding-top: 50px;
        padding-left: 9px;
    }
    .message-padding{
        padding-bottom: 10px;
    }
    .text-padding{
        padding-bottom: 5px;
    }
    label{
        font-size: 13px;
    }
    input[type=text]{ 
        width: 113%;
        height: 30px;
        border-radius: 3px;
        border-color: rgba(0, 0, 0);
     } 
     input[type=email]{ 
        width: 113%;
        height: 30px;
        border-radius: 3px;
        border-color: rgba(0, 0, 0);
     } 
    .message-box{
        width: 113%;
        resize: none;
        height: 150px;
        border-radius: 3px;
    }
    .send-button{
        border: none;
        background: #222;
        color: #c78c06;
        font-size: 20px;
    }
    .button-padding{
        padding-top: 5px;
    }
    .hours-operation{
        padding-top: 4px;
        width: 90%;
    }
    th{
        background-color: #ffe6ac;
    }
    table{
        border-collapse: collapse;
        width: 126%;
    }
    td, th{
        border: 1px solid black;
        padding: 15px;
        font-size: 13px;
    }
    .contact-us-h3{
        padding-top: 4px;
    }
    .google-map{
        position: relative;
        width: 200%;
    }
    /* Footer */
    footer .container{
        background-color: #222;
        color: #c78c06;
        padding: 20px;
    }
    footer .container p{
        padding: 10px;
    }
    .footer-size{
        font-size: 13px;
    }
/* ----------------
    Desktop Styles
------------------*/
@media screen and (min-width: 760px){
    /* Navigation */
    .nav-grid{
        display: grid;
        grid-template-columns:repeat(8, 1fr);
        grid-template-rows:repeat(1, 1fr);
        grid-template-areas: 
            "one two three four five six seven seven";
    }
    .nav-grid .nav-block:nth-child(1){
        grid-area: one;
    }
    .nav-grid .nav-block:nth-child(2){
        grid-area: two;
    }
    .nav-grid .nav-block:nth-child(3){
        grid-area: three;
    }
    .nav-grid .nav-block:nth-child(4){
        grid-area: four;
    }
    .nav-grid .nav-block:nth-child(5){
        grid-area: five;
    } 
    .nav-grid .nav-block:nth-child(6){
        grid-area: six;
    } 
    .nav-grid .nav-block:nth-child(7){
        grid-area: seven;
    } 
    .star-logo{
        background-color: #c78c06;
        width: 75%;
        padding: 0px;
    }
    .nav-grid{
        background-color: #222;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .menu-center{
        position: relative;
        top: 30px;
        left: 10px;
        font-size: 20px;
        color: #c78c06;
    }
    .nav-block a:active{
        color: black;
    }
    .nav-block a:hover{
        background: #c78c06;
        color:black;
        padding: 20px
    }
    input#name.search-bar{
        position: relative;
        width: 70%;
    }
    form.nav-form{
        position: relative;
        top: 15px;
    } 
    .im-magnifier{
        color: #c78c06;
    }        
    .magnify-button{
        background: #222;
    }
    /* Banner image */
    .orange-rectangle{
        background-color: #222;
    }    
    h1{
        font-size: 4.7rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 1.5;
    }   
    .main-banner{
        width: 100%;
        vertical-align: top;
        max-height: 575px;
        object-fit: cover;
    }
    .banner-container{
        position: relative;
    }
    .banner{
        position: absolute;
        top: 10%;
        padding: 15px;
        max-width: 100%;
        height: 70%;
        left: 3rem;
        right: 3rem;
        background: rgba(0, 0, 0, 0.6);
    }
    .intro-text{
            color: white;
            font-size: 13px;
            line-height: 1.6;
            padding-bottom: 10px; 
        } 
    .connect-with-us{
            border: none;
            background: #c78c06;
            padding: 1.2rem;
            font-size: 1.2rem;
        }
    /* About Us grid*/
    .common-area{
        width: 85%;
        padding-left: 2rem;
    }
    .about-us-text{
        padding-right: 2rem;
    }
    .about-us-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one two";
    }
    .about-us-grid .about-grid:nth-child(1){
        grid-area: one;
    }
    .about-us-grid .about-grid:nth-child(2){
        grid-area: two;
    }
    /* our services */
    .services{
        padding-left: 50px;
        padding-right: 50px;
    }
    .our-services-grid-1{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one two";
     }
    .our-services-grid-1 .our-services-1:nth-child(1){
        grid-area: one;
    }
    .our-services-grid-1 .our-services-1:nth-child(2){
        grid-area: two;
    }
    .our-services-1{
        background-color: #ffe6ac;
        border: 5px solid white;    
    }
    /* grid-2 */
    .our-services-grid-2{
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one two three";
     }
    .our-services-grid-2 .our-services-2:nth-child(1){
        grid-area: one;
    }
    .our-services-grid-2 .our-services-2:nth-child(2){
        grid-area: two;
    }
    .our-services-grid-2 .our-services-2:nth-child(3){
        grid-area: three;
    }
    .our-services-2{
        background-color: #ffe6ac;
        border: 5px solid white;    
    }
    .button-2{
        width: 100%;
    }
    .container-box{
        padding: 10px;
    }
    /* our Vision */
    .our-vision, img{
        width: 100%;
    }
    .our-vision-container{
        position: relative;
    }
    .our-vision-text{
        position: relative;
        display: block;
        position: absolute;
        top: 10%;
        left: 0%;
        padding-left: 60px;
        padding-right: 57px;
        color: white;
    }
    .vision-image{
        position: relative;
        max-height: 255px;
        object-fit: cover;
    }
    /* Our team grid*/
    .team{
        padding-left: 50px;
        padding-right: 50px;
    }
    .our-team-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:   
            "one two"
            "four three";
    }
    .our-team-grid .our-team:nth-child(1){
        grid-area: one;
    }
    .our-team-grid .our-team:nth-child(2){
        grid-area: two;
    }
    .our-team-grid .our-team:nth-child(3){
        grid-area: three;
    }
    .our-team-grid .our-team:nth-child(4){
        grid-area: four;
    }
    .word-padding{
        padding: 10px;
    }
    .team-divide{
        border: none;
    }
    /* Contact us */
    .name-email{
        max-width: 1200px;
    }
    .message-box{
        width: 100%
    }
    /* Contact us grid */
    .contact-us-1{
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact-us-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "one three"
            "two two" ;
    }
    .contact-us-grid .contact-us:nth-child(1){
        grid-area: one;
    }
    .contact-us-grid .contact-us:nth-child(2){
        grid-area: two;
    }
    .contact-us-grid .contact-us:nth-child(3){
        grid-area: three;
    }
    input[type=text]{ 
        width: 115%;
     } 
     input[type=email]{ 
        width: 115%;
     } 
    .message-box{
        width: 115%;
        resize: none;
        height: 150px;
    }
    .google-map{
        position: relative;
        left: 1%;
    }
    table{
        border-collapse: collapse;
        width: 129%;
    }
    /* Footer */
    footer .container{
        width: 100%;
    }
}   
